form{
    border: 8px, solid, yellowgreen;
    justify-self: center;
    width: 30%;
    padding: 20px;
    margin: 20px;
    background-color: aliceblue;
}

input{
    margin-bottom: 20px;
}

#title_head{

}

:root{
    background-image: linear-gradient(20deg, #770020 0%, #005030 100%);
    heigh: 100%;

}